html {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

.container{
    width:725px;
}

#area{
    margin:20px auto;
    float:left;
    width:700px;
    height:400px;
    background: #000000;
}

#leftbat{
    width:20px;
    height:100px;
    background:#aaa;
    position: relative;
    float:left;
}


#rightbat{
    width:20px;
    height:100px;
    background:#aaa;
    position: relative;
    float:right;
}

#ball{
    width:20px;
    height:20px;
    background: #eee;
    float:left;
    position:relative;
}

.scoreboard{
    width:700px;
    border:3px solid black;
    padding:2%;
    text-align: center;
    margin-bottom:6px;
    float:left;
}

.scoreboard h3{
    margin:2px;
}

.scoreboard button{
    border:1px dotted black;
}
.scoreboard button:disabled{
    color:Red;
}

.scoreboard button.selected{
    background: #8eff82;
}

.scoreboard button.warning{
    background: #ff545e;
}

.scoreboard button:hover{
    background:#eeeeee;
}
.scoreboard .col{
    border-radius: 10px;
    border: 1px dotted white;
    width:222px;
    float:left;
}

.scoreboard .col.me{
    background: #F0FFEF;
    color: #440000;
    border-bottom: 4px solid lime;
    border-top: 4px solid lime;
}

.scoreboard .col h3.you{
    color:red;
}

.scoreboard .col.winner{
    background:#67b168;
    color:#ffff00;
}

.scoreboard .col{

}

.scoreboard.short{
    margin-bottom:20px;
}

.scoreboard button{
    color:black;
    background:#fff;
    padding:10px;
}